{{ form_start(twitter) }}

{{ element_row(twitter.tweet, {'label': 'Publish a new tweet', 'attr': {'id': 'tweet'}}) }}

<button type="submit" class="btn btn-default">
    <span class="glyphicon glyphicon-share-alt"></span> Tweet
</button>

{{ form_end() }}
