{% extends 'layouts/base.html.twig' %}

{% block title %}/ Captcha examples ({{ type }}){% endblock %}

{% form_theme ['layouts/captcha-bootstrap3.html.twig'] %}

{% block content %}
    <div class="page-header">
        <h1>Welcome!</h1>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p class="lead">This example shows how to render and validate two types of captcha: Image and ReCaptcha</p>
            <div class="panel panel-default">
                <div class="panel-heading">Comments</div>
                <div class="panel-body">
                    {% if isValid %}
                        <p class="lead bg-success text-center">Everything passed validation!</p>
                    {% endif %}
                    {% include 'forms/comment.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
