{% extends 'layouts/base.html.twig' %}

{% block title %}/ Database form configuration{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Welcome!</h1>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p class="lead">
                This example shows how to pass database data to a form to configure its elements and its validators
            </p>
            <div class="panel panel-default">
                <div class="panel-heading">Shopping cart</div>
                <div class="panel-body">
                    {% if isValid %}
                        <p class="lead bg-success text-center">Everything passed validation!</p>
                    {% endif %}
                    {% include 'forms/cart.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
