{% extends 'layouts/base.html.twig' %}

{% block title %}/ Editing information{% endblock %}

{# Use this template as an inline layout #}
{% form_theme [_self] %}

{# Custom block #}
{%- block money -%}
    <div class="input-group"><div class="input-group-addon">$</div>
        {%- set options = options|merge({'block': 'input'}) -%}
        {{- element(element, attr, options) -}}
        <div class="input-group-addon">.00</div></div>
{%- endblock money -%}

{% block content %}
    <div class="page-header">
        <h1>Welcome!</h1>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Edit a product's information</div>
                <div class="panel-body">
                    {% include 'forms/edit-product.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
