{% extends 'layouts/base.html.twig' %}

{% block title %}/ Form elements rendering{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Welcome!</h1>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p class="lead">This example shows how all the available form elements are rendered</p>
            <div class="panel panel-default">
                <div class="panel-heading">Login</div>
                <div class="panel-body">
                    {% include 'forms/sign-up.html.twig' %} {# The sign-up form #}
                </div>
            </div>
        </div>
    </div>
{% endblock %}