{% extends 'layouts/base.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Easy forms examples</h1>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul>
                <li>
                    Rendering examples
                    <ul>
                        <li>
                            Themes
                            <ul>
                                <li><a href="/theme/default">Default theme</a></li>
                                <li><a href="/theme/bootstrap3">Bootstrap 3 theme</a></li>
                                <li>
                                    <a href="/theme/required">
                                        Custom theme extended from Bootstrap 3 (highlights required elements)
                                    </a>
                                </li>
                                <li>
                                    <a href="/theme/optional">
                                        Custom theme extended from Bootstrap 3 (highlights optional elements)
                                    </a>
                                </li>
                                <li>
                                    <a href="/theme/inline">
                                        Custom theme with an inline block
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            Elements
                            <ul>
                                <li><a href="/sign-up">Form with all the available type of elements</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    Validation examples
                    <ul>
                        <li><a href="/validation">Sign up form</a></li>
                    </ul>
                </li>
                <li>
                    Captcha examples
                    <ul>
                        <li><a href="/captcha/image">Image captcha</a></li>
                        <li><a href="/captcha/re-captcha">ReCaptcha</a></li>
                    </ul>
                </li>
                <li>
                    CSRF tokens example
                    <ul>
                        <li><a href="/csrf">Login form</a></li>
                    </ul>
                </li>
                <li>
                    Getting values from a database
                    <ul>
                        <li><a href="/database">Add to cart form</a></li>
                    </ul>
                </li>
                <li>
                    Editing a database record
                    <ul>
                        <li><a href="/edit-information">Edit a product's information</a></li>
                    </ul>
                </li>
                <li>
                    Composite form elements
                    <ul>
                        <li><a href="/composite-element">Money element</a></li>
                    </ul>
                </li>
                <li>
                    Interaction with JavaScript components
                    <ul>
                        <li><a href="/upload-progress">Upload progress element</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}
